@import "tailwindcss";
@theme {

--color-background: white;
--color-text-primary: var(--color-gray-700);
--color-text-secondary: var(--color-gray-500);

--color-primary: var(--color-blue-500);
--color-primary-900: var(--color-blue-900);
--color-primary-800: var(--color-blue-800);
--color-primary-700: var(--color-blue-700);
--color-primary-600: var(--color-blue-600);
--color-primary-500: var(--color-blue-500);
--color-primary-400: var(--color-blue-400);
--color-primary-300: var(--color-blue-300);
--color-primary-200: var(--color-blue-200);
--color-primary-100: var(--color-blue-100);
--color-primary-50: var(--color-blue-50);


--color-secondary: var(--color-purple-500);
--color-secondary-900: var(--color-purple-900);
--color-secondary-800: var(--color-purple-800);
--color-secondary-700: var(--color-purple-700);
--color-secondary-600: var(--color-purple-600);
--color-secondary-500: var(--color-purple-500);
--color-secondary-400: var(--color-purple-400);
--color-secondary-300: var(--color-purple-300);
--color-secondary-200: var(--color-purple-200);
--color-secondary-100: var(--color-purple-100);
--color-secondary-50: var(--color-purple-50);


--color-error: var(--color-red-500);
--color-error-900: var(--color-red-900);
--color-error-800: var(--color-red-800);
--color-error-700: var(--color-red-700);
--color-error-600: var(--color-red-600);
--color-error-500: var(--color-red-500);
--color-error-400: var(--color-red-400);
--color-error-300: var(--color-red-300);
--color-error-200: var(--color-red-200);
--color-error-100: var(--color-red-100);
--color-error-50: var(--color-red-50);



--color-info: #000000;
--color-warning: #000000;

--color-success: var(--color-green-500);
--color-success-900: var(--color-green-900);
--color-success-800: var(--color-green-800);
--color-success-700: var(--color-green-700);
--color-success-600: var(--color-green-600);
--color-success-500: var(--color-green-500);
--color-success-400: var(--color-green-400);
--color-success-300: var(--color-green-300);
--color-success-200: var(--color-green-200);
--color-success-100: var(--color-green-100);
--color-success-50: var(--color-green-50);

--animate-indeterminate: indeterminate 2.1s linear infinite;
--animate-indeterminate-short: indeterminate-short 2.1s linear infinite;
--animate-buffer: buffer 3s infinite linear;
--animate-circular-rotate: circular-rotate 1.4s linear infinite;
--animate-circular-dash: circular-dash 1.4s ease-in-out infinite;

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes buffer {
  0% {
    opacity: 1;
    background-position: 0 0;
  }
  100% {
    opacity: 1;
    background-position: -20px 0;
  }
}

@keyframes circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
}

.bg-stripes {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.animate-stripes {
  animation: stripes 2s linear infinite;
}